* {
    margin: 0;
}
.fundo{
    height: 0vh;
}


.quadrado img{
    height: 200px;
    /*margin: 10px;*/
    border-radius: 25px;
    object-fit: cover;background-position: center;
}
.quadrado a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: Trebuchet MS;

    background-color: black;

    padding: 5px;
    border-radius: 20px;
    border: 3px solid #5FA3E3;
}

