 .titulo-nome>h1{
    font-size: 3rem;
 font-weight: 400;
}
.titulo-nome>h5{
    font-size: 1.5rem;
    font-weight: 300;
}
.dados-pessoais,.dados-contato{
    display: flex;
    flex-direction: column ;
}
.formaca>h3{
 
    border-bottom: 2px solid black
}
.col{
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 3px 3px 10px;
}

